*{
    margin:0px;
    padding: 0px;
}

div{
    height: 100px;
    width: 100px;}


div:nth-child(n+1) {
        display: inline-block;   
    }

div:nth-child(9) {
        display: block;   
    }
div:nth-child(n+10) {
        display: inline-block;   
    }


div:nth-child(2n+1) {
    background: black;
}

div:nth-child(2n) {
    background: white;
}