/* body{
  background-color: #ff0000a4;
    background-color: rgba(255,0,0, .5);
    background-image: url(images/images/bricks.png);
    background-repeat: no-repeat; 
    background-position:  ;
    background-attachment: fixed; 
  background: rgba(255,0,0, .5) url(images/images/bricks.png) no-repeat right 100px fixed; 
  background-size: cover;
    background-image: url(images/images/bricks.png); 
} */
/* 
*{
    box-sizing: border-box;
} */
/* .box{
        height: 200px;
        width: 200px;
        background-color:blue;
        font-size: 2em;
        color: #fff;
        text-align: center;
        line-height: 200px;
        padding: 10px 1px 40px;
        margin-left: 100px;
        border: 55px solid gray; 
        outline: 55px solid green;
        display: block; 
         visibility: hidden; 
         box-sizing: content-box; 
        width:80%;
        margin-left: auto;
        margin-right: auto;


    }
    

    p.box--border__style{

        border-style: dashed double dotted ridge;
        border-width: 5px 40px 15px 60px;
        border-radius: 3221px;
        border-color: green darkblue saddlebrown darkcyan;
        padding: 13px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
    } */

    /* solid, dotted, dashed, double, groove, ridge, inset, outset, */

    #border-box,
    #padding-box,
    #content-box{
        background-color: yellowgreen;
        width: 225px;
        padding : 1em 0;
        border: 5px solid red;
    }

    .nomargin {
        margin:0;
    }

    #border-box{
        background-clip: padding-box;
    }

    #content-box{
        
    }
