/* body{
  background-color: #ff0000a4;
    background-color: rgba(255,0,0, .5);
    background-image: url(images/images/bricks.png);
    background-repeat: no-repeat; 
    background-position:  ;
    background-attachment: fixed; 
  background: rgba(255,0,0, .5) url(images/images/bricks.png) no-repeat right 100px fixed; 
  background-size: cover;
    background-image: url(images/images/bricks.png); 
} */

/* .box{
        height: 200px;
        width: 200px;
        background-color:blue;
        font-size: 2em;
        color: #fff;
        text-align: center;
        line-height: 200px;
        padding: 10px 1px 40px;
        margin-left: 100px;
         border: 555px solid gray; 
        outline: 555px solid green;
        display: none; 
        visibility: hidden;

    } */
    

    p.box--border__style{

        border: 4px double #333;
        padding: 13px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
